# Composer
composer.phar
composer-temp.phar

# Gitkeep Repository
public/visit/*
!public/visit/.gitkeep

# Eclipse
.settings/
.buildpath
.project

# Misc
*.lnk

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
