{% block subject %}Confirmation d'inscription{% endblock %}

{% block body_html %}
	{% autoescape false %}
		
		<h1>Bonjour {{ user.username }} !</h1>
		
		<p>Ceci est un email de confirmation d'inscription.</p>
		<p>Cliquez sur le lien suivant pour confirmer votre compte : <a href="{{ confirmationUrl }}">confirmation</a></p>
		<br/>
		<p>Cordialement,</p>
		<p>L'équipe de développemnt SN IR.</p>
		
	{% endautoescape %}
{% endblock %}
