{% block subject %}Resetting Password{% endblock %}

{% block body_html %}
    <body style="font-family:Segoe UI";line-height: 1.5;>
        <div style="text-align:center;padding-left:15px;padding-right:15px;margin-left:auto;margin-right:auto;">
            <h1 style="font-size: 2.5rem; font-weight: 500; line-height: 1.2;">Welcome {{ user.username }} !</h1>
			
            <a style="display: inline-block; padding: .400rem .80rem; border-radius: .25rem; text-decoration: none; color: #fff; background-color: #007bff; margin-top: 1.5rem!important; margin-bottom: 1rem!important;" href="{{ confirmationUrl }}" role="button">Reset password</a>
            
            <p style="padding-bottom: 1rem!important;">
                Or verify using this link:
                <br />
                <a style="text-decoration: none; color: #007bff;" href="{{ confirmationUrl }}">{{ confirmationUrl }}</a> 
            </p>

            <p style="font-weight: 300!important;">
                Sent by 360°Visits - 3 Boulevard Edouard Herriot, 82000 Montauban
            </p>
        </div>
    </body>
{% endblock %}
