{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var visit =  {
            name: '{{ visit.name }}',
            id: '{{ visit.id }}'
        };
    </script>
{% endblock %}

{% block main %}
    <div class="text-center py-3">
        <h4>{{ visit.name }}</h2>
        <canvas style="height:100%; width:100%;"></canvas>
    </div>
{% endblock %}
