{% extends 'base.html.twig' %}

{% block main %}
    <ul>
        {% for visit in visits %}
            <li>
                <a href="{{ path('visit_show', {'id': visit.id}) }}">
                    {{ visit.name }}
                </a>
                - owned by: {{ visit.owner.username}}
            </li>
        {% else %}
            <li><em>no visit found</em></li>
        {% endfor %}
    </ul>
{% endblock %}
