{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var visit =  {
            name: '{{ visit.name }}',
            path: '{{ visit_path }}'
        };
    </script>
    <script src="{{ asset('test.js') }}"></script>
{% endblock %}

{% block main %}
    <div id="visit_viewer"></div>
{% endblock %}
