<footer class="bg-dark text-muted pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <p>Developped with <i class="fa fa-heart"></i> by Vincent, Pillon, Thomas, Malko and Guillaume</p>
            </div>
            <div class="col-md-6 text-center">
                <p>
                    <a href="https://github.com/VisiteVirtuelle/VisiteVirtuelle-Symfony" title="GitHub Repository">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="https://trello.com/b/lRY92q0W/organisation" title="Trello Orginization">
                        <i class="fa fa-trello" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
