<footer>
    <div class="container border-top">
        <div class="copyright text-center">
            <p>{{ 'footer.copyright'|trans }}</p>

            <a href="https://github.com/VisiteVirtuelle/VisiteVirtuelle-Symfony" class="mr-3" target="_blank">
                <i class="fa fa-lg fa-github"></i>
                {{ 'footer.github'|trans }}
            </a>
            <a href="https://trello.com/b/lRY92q0W/organisation" class="mr-3" target="_blank">
                <i class="fa fa-lg fa-trello"></i>
                {{ 'footer.trello'|trans }}
            </a>
        </div>
    </div>
</footer>
