{% extends ['base.html.twig'] %}

{% block title %}{{ parent() }} - {{ 'admin.dashboard.title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-2">
            {% for group in groups %}
                <ul class="navbar-nav">
                    <h4>group.name</h4>
                    {% for link in group.links %}
                        <li>
                            <a href="{{ path('admin_dashboard', {'template' : link|lower}) }}">
                                {{ link }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>

        <div class="col">
            {% include path  %}
        </div>
    </div>
{% endblock %}