{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Dashboard{% endblock %}

{% block body %}
    <div class="row">
		<nav class="col-sm-3 col-md-2 sidebar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" href="#">Overview</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Page 1</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Page 2</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Page 3</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Page 4</a>
				</li>
			</ul>
			
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Page 1</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Page 2</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Page 3</a>
				</li>
			</ul>
		</nav>
		
		<div class="col">
			<h1 class="page-header">{% block apptitle %}{% endblock %}</h1>
			
			{% block app %}{% endblock %}
		</div>
	</div>
{% endblock %}