body {
	padding-top: 55px; /* fixed navbar */
}

/* 
 * Navbar
 */
 @media (min-width: 768px) {
	.navbar-center {
		float:none;
		margin:0 auto;
		display: block;
		text-align: center;
	}

	.navbar-center > li {
		display: inline-block;
		float:none;
	}
}

/* en remplacement du page-header de boostrap3 */
.page-header {
	margin-top: 0;
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee;
}